node_modules/
__pycache__/
.pytest_cache/
.angular/

.browser_profile/
debug_screens/
lsi_ckt_result.xlsx

# frontend test artifacts
frontend/prof/
frontend/*.png
frontend/dist/
/PeytoChecker_Hero_4K.mp4
